<style>
    .display-line {
        width: 144px;
        /* font-weight: normal; */
        font-size: 19px;
        display: grid;
        grid-template-columns: repeat(15, 18px);
        align-content: center;
    }
</style>
<div class="p-root flex-pv">
    <div class="sep-line"></div>
    <div class="flex-ph btn-line">
        <dcs-btn title="▶" cmd="UFCP_BTN_L1" down="1" up="0"></dcs-btn>
        <div class="btn-freq display-line">
            <span ng-repeat="c in display_chars_1 track by $index">{{c}}</span>
        </div>
        <dcs-btn title="◀" cmd="UFCP_BTN_R1" down="1" up="0"></dcs-btn>
    </div>
    <div class="flex-ph btn-line">
        <dcs-btn title="▶" cmd="UFCP_BTN_L2" down="1" up="0"></dcs-btn>
        <div class="btn-freq display-line">
            <span ng-repeat="c in display_chars_2 track by $index">{{c}}</span>
        </div>
        <dcs-btn title="◀" cmd="UFCP_BTN_R2" down="1" up="0"></dcs-btn>
    </div>
    <div class="flex-ph btn-line">
        <dcs-btn title="▶" cmd="UFCP_BTN_L3" down="1" up="0"></dcs-btn>
        <div class="btn-freq display-line">
            <span ng-repeat="c in display_chars_3 track by $index">{{c}}</span>
        </div>
        <dcs-btn title="◀" cmd="UFCP_BTN_R3" down="1" up="0"></dcs-btn>
    </div>
    <div class="flex-ph btn-line">
        <dcs-btn title="▶" cmd="UFCP_BTN_L4" down="1" up="0"></dcs-btn>
        <div class="btn-freq display-line">
            <span ng-repeat="c in display_chars_4 track by $index">{{c}}</span>
        </div>
        <dcs-btn title="◀" cmd="UFCP_BTN_R4" down="1" up="0"></dcs-btn>
    </div>
    <div class="sep-line"></div>
    <div class="flex-ph btn-line">
        <dcs-btn title="1" title2="PFL" cmd="UFCP_BTN_1" down="1" up="0"></dcs-btn>
        <dcs-btn title="2" title2="VRC" cmd="UFCP_BTN_2" down="1" up="0"></dcs-btn>
        <dcs-btn title="3" title2="   " cmd="UFCP_BTN_3" down="1" up="0"></dcs-btn>
        <dcs-btn title="OAP" title2="   " cmd="UFCP_BTN_OAP" down="1" up="0"></dcs-btn>
        <dcs-btn title="MRK" title2="   " cmd="UFCP_BTN_MRK" down="1" up="0"></dcs-btn>
    </div>
    <div class="flex-ph btn-line">
        <dcs-btn title="4" title2="DST" cmd="UFCP_BTN_4" down="1" up="0"></dcs-btn>
        <dcs-btn title="5" title2="TOT" cmd="UFCP_BTN_5" down="1" up="0"></dcs-btn>
        <dcs-btn title="6" title2="TOD" cmd="UFCP_BTN_6" down="1" up="0"></dcs-btn>
        <dcs-btn title="P.U" title2="   " cmd="UFCP_BTN_PU" down="1" up="0"></dcs-btn>
        <dcs-btn title="HNS" title2="   " cmd="UFCP_BTN_HNS" down="1" up="0"></dcs-btn>
    </div>
    <div class="flex-ph btn-line">
        <dcs-btn title="7" title2="FUL" cmd="UFCP_BTN_7" down="1" up="0"></dcs-btn>
        <dcs-btn title="8" title2="IFF" cmd="UFCP_BTN_8" down="1" up="0"></dcs-btn>
        <dcs-btn title="9" title2="   " cmd="UFCP_BTN_9" down="1" up="0"></dcs-btn>
        <dcs-btn title="A/P" title2="   " cmd="UFCP_BTN_AP" down="1" up="0"></dcs-btn>
        <dcs-btn title="FPM" title2="   " cmd="UFCP_BTN_FPM" down="1" up="0"></dcs-btn>
    </div>
    <div class="flex-ph btn-line">
        <dcs-btn title="RTN" title2="" cmd="UFCP_BTN_RTN" down="1" up="0"></dcs-btn>
        <dcs-btn title="0" title2=" " cmd="UFCP_BTN_0" down="1" up="0"></dcs-btn>
        <dcs-btn title=" " title2=" " cmd="UFCP_BTN_NA1" down="1" up="0"></dcs-btn>
        <dcs-btn title=" " title2=" " cmd="UFCP_BTN_NA2" down="1" up="0"></dcs-btn>
        <dcs-btn title=" " title2=" " cmd="UFCP_BTN_NA3" down="1" up="0"></dcs-btn>
    </div>
    <div class="sep-line"></div>
    <div class="flex-ph btn-line">
        <dcs-btn title="COM1"></dcs-btn>
        <div class="btn-freq display-line">{{comm1_freq}}</div>
    </div>
    <div class="flex-ph btn-line">
        <dcs-btn title="COM2"></dcs-btn>
        <div class="btn-freq display-line">{{comm2_freq}}</div>
    </div>
    <div class="sep-line"></div>
</div>