body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

html {
  background-color: #56595b;
}

body {
  /* transition: transform 0.2s ease; */
  background-color: #56595b;
}

body > * {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.flex-ph {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: stretch;
}

.flex-pv,
ui-view {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-ca {
  flex: auto;
}

.flex-cn {
  flex: none;
}

.panel {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

btn-box,
xp-btn,
dcs-btn {
  --light-color: #00ff00;
  background-color: #6a6a6a;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 40px;
  width: 40px;
  text-align: center;

  font-size: 13px;
  font-weight: bolder;

  box-shadow: 1px 1px 4px 2px #000000;
  border-radius: 5px;
  border: 1px solid darkgray;
  border-style: outset;

  user-select: none;
}

.btn-box-upper {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 20px;
}

.btn-box-light {
  flex: none;
  width: 17px;
  height: 8px;
  background-color: #424242;
  border: inset 1px #adadad;
}

.btn-box-light.active {
  width: 15px;
  height: 5px;
  box-shadow: 0px 0px 3px 1px var(--light-color);
  background-color: var(--light-color);
  border: none;
}

.btn-box-title {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.p-root {
  height: 100%;
  overflow: hidden;
  position: relative;
  color: white;
}

.btn-line {
  flex: none;
  padding: 2px 10px;
  align-items: center;
}

.btn-line > * {
  margin: 5px;
}

.btn-freq {
  --text-color: #00ff00;

  font-size: 24px;
  color: var(--text-color);
  letter-spacing: 20px;
  font-weight: bold;
  background-color: #222222;
  letter-spacing: 4px;

  /* box-shadow: -1px 1px 4px 2px #000000; */
  border-radius: 5px;
  border: 1px inset darkgray;
  text-shadow: 0 0 10px var(--text-color);

  width: 120px;
  height: 30px;
  padding: 4px 0px;
  text-align: right;
  user-select: none;
  overflow: hidden;
}

.sep-line {
  background-color: black;
  height: 3px;
  flex: none;
  /* box-shadow: 0px 1px 0px 1px #858585; */
  width: 200%;
  transform: translateX(-20px);
  margin: 4px 0px;
  /* transform: 1px inset #8b8b8b; */
  border: 1px inset #8b8b8b;
}

.btn-num {
  font-size: 24px;
}

.g-root {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-gap: 8px;
  justify-items: stretch;
  align-items: center;
}

g-sep,
.g-sep {
  grid-column-start: 1;
  grid-column-end: span 8;
  background-color: black;
  height: 2px;
  border: 1px inset #8b8b8b;
  transform: translateX(-50px) scaleX(2);
}

.g-newline {
  grid-column-start: 1;
}

g-btn,
.g-btn {
  --light-color: #00ff00;
  height: 40px;
  background-color: #6a6a6a;
  box-shadow: 1px 1px 4px 2px #000000;
  border-radius: 5px;
  border: 1px solid darkgray;
  border-style: outset;
  user-select: none;
  font-size: 13px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.g-btn-light {
  width: 15px;
  height: 6px;
  background-color: #424242;
  border: inset 1px #adadad;
}

.g-btn-light.active {
  width: 15px;
  height: 6px;
  box-shadow: 0px 0px 3px 1px var(--light-color);
  background-color: var(--light-color);
  border: solid 1px var(--light-color);
}

g-led,
.g-led {
  height: 40px;
  --text-color: #00ff00;

  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  background-color: #000000;

  border-radius: 5px;
  border: 1px inset darkgray;
  text-shadow: 0 0 10px var(--text-color);

  user-select: none;
  overflow: hidden;

  display: grid;
  align-content: center;

  grid-column-end: span 3;
  grid-template-columns: repeat(7, 1fr);
}

g-led > *,
.g-led > * {
  --s: 28px;
  height: 30px;
  background-image: url("images/font01.png");
  background-size: calc(var(--s) * 8);
  background-position: calc(2px - var(--s) * 0) calc(1px - var(--s) * 0);
  filter: hue-rotate(0deg) saturate(100%) brightness(100%);
}
