<style>

</style>
<div class="p-root flex-pv">
    <div class="sep-line"></div>
    <!-- COM 1 -->
    <div class="flex-ph btn-line">
        <btn-box btn="com1Pwd" ng-click="buttonClick(com1Pwd)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(com1Freq)">
            {{com1Freq.value}}
        </span>
        <btn-box btn="com1Apply" ng-click="buttonClick(com1Apply)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(com1StandbyFreq)">
            {{com1StandbyFreq.value}}
        </span>
    </div>
    <div class="sep-line"></div>
    <!-- COM 2 -->
    <div class="flex-ph btn-line">
        <btn-box btn="com2Pwd" ng-click="buttonClick(com2Pwd)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(com2Freq)">
            {{com2Freq.value}}
        </span>
        <btn-box btn="com2Apply" ng-click="buttonClick(com2Apply)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(com2StandbyFreq)">
            {{com2StandbyFreq.value}}
        </span>
    </div>
    <div class="sep-line"></div>
    <!--NAV 1-->
    <div class="flex-ph btn-line">
        <btn-box btn="nav1Pwd" ng-click="buttonClick(nav1Pwd)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(nav1Freq)">
            {{nav1Freq.value}}
        </span>
        <btn-box btn="nav1Apply" ng-click="buttonClick(nav1Apply)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(nav1StandbyFreq)">
            {{nav1StandbyFreq.value}}
        </span>
    </div>
    <div class="sep-line"></div>
    <!--NAV 2-->
    <div class="flex-ph btn-line">
        <btn-box btn="nav2Pwd" ng-click="buttonClick(nav2Pwd)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(nav2Freq)">
            {{nav2Freq.value}}
        </span>
        <btn-box btn="nav2Apply" ng-click="buttonClick(nav2Apply)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(nav2StandbyFreq)">
            {{nav2StandbyFreq.value}}
        </span>
    </div>
    <div class="sep-line"></div>
    <!-- ADF -->
    <div class="flex-ph btn-line">
        <btn-box btn="adf1Pwd" ng-click="buttonClick(adf1Pwd)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(adf1Freq)">
            {{adf1Freq.value}}
        </span>
        <btn-box btn="adf2Pwd" ng-click="buttonClick(adf2Pwd)"></btn-box>
        <span class="btn-freq" ng-click="freqClick(adf2Freq)">
            {{adf2Freq.value}}
        </span>
    </div>
    <div class="sep-line"></div>
    <div>
        <div class="flex-ph btn-line">
            <btn-box title="CLR" ng-click="clrClick()"> </btn-box>
            <span class="btn-freq" style="width: 140px;">{{inputText}}</span>
        </div>
        <div class="flex-ph btn-line">
            <btn-box title="FN 1" ng-click="fnClick(1)"></btn-box>
            <btn-box class="btn-num" ng-repeat="n in [1,2,3]" title="{{n}}" ng-click="numClick(n)"></btn-box>
            <btn-box title="<--- 1MHz --->" style="width: 150px;" ng-on-touchstart="onFreqTouchStart(0, $event)"
                ng-on-touchmove="onFreqTouchMove(0, $event)"></btn-box>
        </div>
        <div class="flex-ph btn-line">
            <btn-box title="FN 2" ng-click="fnClick(2)"></btn-box>
            <btn-box class="btn-num" ng-repeat="n in [4,5,6]" title="{{n}}" ng-click="numClick(n)"></btn-box>
            <btn-box title="<--- 5kHz --->" style="width: 150px;" ng-on-touchstart="onFreqTouchStart(1, $event)"
                ng-on-touchmove="onFreqTouchMove(1, $event)"></btn-box>
        </div>
        <div class="flex-ph btn-line">
            <btn-box title="FN 3" ng-click="fnClick(3)"></btn-box>
            <btn-box class="btn-num" ng-repeat="n in [7,8,9]" title="{{n}}" ng-click="numClick(n)"></btn-box>
        </div>
        <div class="flex-ph btn-line">
            <btn-box title="FN 4" ng-click="fnClick(4)"></btn-box>
            <btn-box class="btn-num" title="." ng-click="numClick('.')"></btn-box>
            <btn-box class="btn-num" title="0" ng-click="numClick(0)"></btn-box>
            <btn-box title="DEL" ng-click="delClick()"></btn-box>
        </div>
    </div>
    <div class="sep-line"></div>
</div>