<style>
    .p-root {
        padding: 8px;
    }
</style>
<div class="p-root">
    <div class="g-root">
        <g-sep></g-sep>

        <g-btn title="COM1"></g-btn>
        <g-led text="com1Freq.text" ng-click="freqClick(com1Freq)"></g-led>
        <g-btn title="◀" ng-click="buttonClick(com1Apply)"></g-btn>
        <g-led text="com1StandbyFreq.text" ng-click="freqClick(com1StandbyFreq)"></g-led>
        <g-sep></g-sep>

        <g-btn title="COM2"></g-btn>
        <g-led text="com2Freq.text" ng-click="freqClick(com2Freq)"></g-led>
        <g-btn title="◀" ng-click="buttonClick(com2Apply)"></g-btn>
        <g-led text="com2StandbyFreq.text" ng-click="freqClick(com2StandbyFreq)"></g-led>
        <g-sep></g-sep>

        <g-btn title="NAV1"></g-btn>
        <g-led text="nav1Freq.text" ng-click="freqClick(nav1Freq)"></g-led>
        <g-btn title="◀" ng-click="buttonClick(nav1Apply)"></g-btn>
        <g-led text="nav1StandbyFreq.text" ng-click="freqClick(nav1StandbyFreq)"></g-led>
        <g-sep></g-sep>

        <g-btn title="NAV2"></g-btn>
        <g-led text="nav2Freq.text" ng-click="freqClick(nav2Freq)"></g-led>
        <g-btn title="◀" ng-click="buttonClick(nav2Apply)"></g-btn>
        <g-led text="nav2StandbyFreq.text" ng-click="freqClick(nav2StandbyFreq)"></g-led>
        <g-sep></g-sep>

        <g-btn title="ADF1"></g-btn>
        <g-led text="adf1Freq.text" ng-click="freqClick(adf1Freq)"></g-led>
        <g-btn title="ADF2"></g-btn>
        <g-led text="adf2Freq.text" ng-click="freqClick(adf2Freq)"></g-led>
        <g-sep></g-sep>

        <g-btn title="CLR" ng-click="numClick('CLR')"></g-btn>
        <g-led text="inputText"></g-led>
        <g-btn title="MHz" ng-on-touchstart="onFreqTouchStart(1, $event)"
            ng-on-touchmove="onFreqTouchMove(1, $event)"></g-btn>
        <g-btn title="kHz" ng-on-touchstart="onFreqTouchStart(2, $event)"
            ng-on-touchmove="onFreqTouchMove(2, $event)"></g-btn>
        <g-btn class="g-newline" title="FN 1"></g-btn>
        <g-btn ng-repeat="c in [1,2,3]" title="{{c}}" ng-click="numClick(c)"></g-btn>
        <g-btn class="g-newline" title="FN 2"></g-btn>
        <g-btn ng-repeat="c in [4,5,6]" title="{{c}}" ng-click="numClick(c)"></g-btn>
        <g-btn class="g-newline" title="FN 3"></g-btn>
        <g-btn ng-repeat="c in [7,8,9]" title="{{c}}" ng-click="numClick(c)"></g-btn>
        <g-btn class="g-newline" title="FN 4"></g-btn>
        <g-btn ng-repeat="c in ['.',0,'DEL']" title="{{c}}" ng-click="numClick(c)"></g-btn>
        <g-sep></g-sep>
    </div>
</div>